# Google Analytics settings
GOOGLE_ANALYTICS_CLIENT=live
GOOGLE_ANALYTICS_PROJECT_ID=xxx
GOOGLE_ANALYTICS_CLIENT_EMAIL=google-analytics-client@xxx.iam.gserviceaccount.com
GOOGLE_ANALYTICS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n"
GOOGLE_ANALYTICS_PROPERTY_ID=xxx
